{% extends 'base.html' %}

{% block head %}
    <title>Home</title>

{% endblock head%}

{% block body %}

{% include 'nav_bar.html' %}


{%for i in data%}
<div class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
  <div class="p-6">
    <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
      {{i.title}}
    </h5>
    <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
      {{i.description}}
    </p>
  </div>
  <div class="p-6 pt-0">
    <form method='POST' action='{%url 'edit' i.id %}'>
      
      {% csrf_token %}
      <button
        class="select-none rounded-lg bg-pink-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="submit"
        data-ripple-light="true"
      >
      Edit
    </button>

  </form>
</div>

<div class="p-6 pt-0">
  <form method="POST" action = "{%url 'del' i.id %}">
    {% csrf_token %}
    <button
        class="select-none rounded-lg bg-pink-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="submit"
        data-ripple-light="true"
      >
      Delete
    </button>
  </form>

  </div>
</div>

<div class= "p-3"> </div>

{% endfor %}


{% endblock body %}
