{% extends 'base.html' %}

{% block head %}

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

{% endblock head %}

{% block body %}



{% if request.user.is_authenticated %}


<header class="bg-grey-600">
    <nav class= 'container mx-auto px-6 py-3'>
        <div class="flex justify-between items-center">
            <a href="{% url "new_notes" %}" class="text-2xl font-bold text-gray-800">Notes</a>
            <div class="flex space-x-4">
                <a href="{%url 'home'%}" class="text-gray-800 hover:font-bold  ">Home</a>
                <a href="#" class="text-gray-800 hover:font-bold">About</a>
                <a href="{% url 'logout' %}" class="text-gray-800 hover:font-bold">Logout 
                    <span class="font-extrabold">

                        ({{user.first_name}})
                    
                    </span>
                </a>
            </div>
        </div>
    </nav>


{% else %}


<header class="bg-grey-600">
    <nav class= 'container mx-auto px-6 py-3'>
        <div class="flex justify-between items-center">
            <a href="{% url "home" %}" class="text-2xl font-bold text-gray-800">Notes</a>
            <div class="flex space-x-4">
                <a href="{%url 'home'%}" class="text-gray-800 hover:font-bold  ">Home</a>
                <a href="#" class="text-gray-800 hover:font-bold">About</a>
                <a href="{% url 'register'%}" class="text-gray-800 hover:font-bold">Register</a>
                {% comment %} <a href="{% url 'login' %}" class="text-gray-800 hover:font-bold">Login</a> {% endcomment %}
            </div>
        </div>
    </nav>
</header>

    {% endif %}
</header>


{% endblock body %}
