{% extends 'base.html' %}

{% block head %}
    <title>Register</title>
{% endblock head%}


{% block body %}
{% include 'nav_bar.html' %}



<div class="flex justify-center items-cente h-full">
    <form class="bg-white shadwo-md rounded px-8 pt-6 pb-8 mb-4 mt-32 w-1/2" method="POST">

        {% csrf_token %}
        
     
        

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name"> 
                Name
            </label>
            
            <!-- <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-outline" type="text" placeholder="Name" name="name" id="id_name">  -->

            <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-outline">
                {{form.name}}
            </div>


        </div>

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Username
            </label>

            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-outline" type="text" placeholder="Username" name="username"> 

        </div>

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Email
            </label>

            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-outline" type="email" placeholder="Email" name="email"> 

        </div>

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
            </label>

            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-outline" placeholder="Password" type="password" name="password">
        </div>

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Confirm Password
            </label>

            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-outline" placeholder="Confirm Password" type="password" name="cnf_password">

        </div>

        <div class="flex items-cente justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" name="sign_up">
                Sign Up
            </button>

            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">Forgot Password?</a>



        </div>

    </form>



</div>


{% endblock body %}
